
.header{
    background: #38c0ca ;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    padding: 1%;
    font-size: 1.3rem;
    color: #f6f6f6;
}


.searchField{
    margin: 2% 0;
    width: 90%;
    padding: 1.5%;
    border-radius: 25px;
    border: 2px solid #38c0ca;
}
.catalogHolder{
    display: flex;
    flex-wrap: wrap;
    height: 92vh;
    column-gap: 15px;
}
.listHolder{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1d1e2c;
    width: 15%;
    overflow-y: scroll;
    row-gap: 1.5rem;
}
.listHolder a{
    text-decoration: inherit;
    color: inherit;
}
.catalogElement{
        color: #f4f4f4;
        padding: 1% 2% 4% 2%;
        text-decoration: underline;
}
.descriptionHolder{
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    

}
.catalogDetail{
    height: 90%;
    overflow: auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    margin:4%;
    padding: 2%;
    border-radius: 12px;
    background-color: #f6f6f6;
}


.catalogDetail h2{
    text-align: center;
}
.catalogSearchList{
    display: none;
}
@media screen and (max-width:800px) {
    .header{
        padding: 2%;
    }
    .listHolder{
        display: none;
    }
    .descriptionHolder{
        width: 100%;
        padding: 2%;
    
    }
    .catalogSearchList{
        display: block;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        margin:2% 0%;
    }
    .datalistInput{
        width: 80%;
        padding: 2%;
        border-radius: 25px;
    }
    
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    select,
    textarea,
    input {
      font-size: 16px;
    }
  }