
.header{
    background: #6348ab ;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    padding: 1%;
    font-size: 1.3rem;
    color: #f6f6f6;
}


.searchField{
    margin: 2% 0;
    width: 90%;
    padding: 1.5%;
    border-radius: 25px;
    border: 2px solid #6348ab;
}
.catalogHolder{
    display: flex;
    flex-wrap: wrap;
    height: 92vh;
    column-gap: 15px;
}
.listHolder{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f6f6f6;
    width: 15%;
    overflow-y: scroll;
    row-gap: 1.5rem;
}
.listHolder a{
    text-decoration: inherit;
    color: inherit;
}
.catalogElement{
        color: #6348ab;
        padding: 1% 2% 4% 2%;
}
.descriptionHolder{
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    

}
.catalogDetail{
    height: 90%;
    overflow: auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    margin:4%;
    padding: 2%;
    border-radius: 12px;
    background-color: #f6f6f6;
}


.catalogDetail h2{
    text-align: center;
}
@media screen and (max-width:800px) {
    .listHolder{
        display: none;
    }
    .descriptionHolder{
        width: 100%;
        padding: 2%;
    
    }
    
}